body{
    background-color:white;
}

footer{
    display: flex;
    justify-content: center;
    text-align: "center";
    margin: auto;
    background-color: #343a40;
    color: white;
    margin-top: 30px;
    padding-top: 15px;
}

a{
    text-decoration: none;
}
a:hover{
    color: #B10DC9;
    cursor: pointer;
}
a:active{
    color: #151436;
}
/********************* Home *********************/

.content{
    display: flex;
    flex-wrap: wrap;
}

.filter-cards{
    flex: 3 60rem;
}

.cards{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin-left: 50px;
}

.sidebar{
    flex: 1 20rem;

}

/********************* ItemCard *****************/
.card{
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    align-items: left;
    margin: 12px;
    background-color: black;
    border-radius: 7px;
    color: white;
}
.card ul{
    list-style-type: none;
}
.card li{
    flex: 1 1 5rem;
}

.card-icon{
    color: #625dee;
    font-size: large;
    position: absolute;
    left: 17px;
    top: 7px;
}

/* Image container */
.card-img {
    max-height: 18rem;
    max-width: 18rem;
    background-color: black;
    margin: auto;
}

.plus-icon{
    color: rgb(133, 127, 127);
    width: 98%;
    margin: auto;
}

/********************* Filter *****************/
.filter{
    display: flex;
    justify-content: space-betweens;
    margin: 10px;
    padding: 10px;
    border-bottom: 1px #c0c0c0 solid;
    font-size: 18px;
}
.filter div{
    flex: 1;
}

/********************* Cart *****************/
.cart{
    margin: 10px;
    padding: 12px;
    display: flex;
}

.cart-header{
    border-bottom: 1px #c0c0c0 solid;
}

.cart-items{
    padding: 0;
    width: 100%;
    list-style-type: none;
}

.cart-items img{
    width: 100px;
    border-radius: 7px;
}

.cart-items li{
    display: flex;
}

.cart-items li div{
    padding: 5px;
}

.cart-items li div:last-child{
    flex: 1;
}

.right{
    text-align: right;
}

.total{
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
}

.total div{
    font-size: 20px;
    flex: 1;
}

/* Checkouot form */
form{
    width: 100%;
}
.form-container{
    padding: 0;
    list-style-type: none;
    width: 100%;
}

.form-container li{
    display: flex;
    flex-direction: column;
    padding: 10px;
}

input{
    padding: 3px;
}

/* Modal */
.modal-window{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    max-height: 96vh;
}
.modal-window img{
    max-height: 100vh;
    max-width: 30rem;
    margin: 0 40px;
    border-radius: 20px;
}
.product-info{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    max-height: 96vh;
    flex: 1;

}
.product-details{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    margin: 20px;
}
.modal-buttons{
    margin: 15px 0;
    display: flex;
    justify-content: space-between;
    width: 270px;

}
.product-info h1{
    font-size: 50px;
}
.product-info p{
    font-size: 20px;
    width: 90%;
}

/* Checkout Modal */
.Modal{
    background-color: #ffffff;
    background-image: url("https://www.transparenttextures.com/patterns/gplay.png");
    padding: 30px;
}

.checkout-modal{
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    color: black;
    border-radius: 9px;
}

.order-details{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-around;
    margin: 10px auto auto 100px;
}
.order-details h1{
    font-size: 55px;
}

.order-details h2{
    font-size: 45px;
}


.order-list{
    display: flex;
    flex-direction: row;
    justify-content: left;
    flex-wrap: wrap;
    list-style-type: none;
}

.order-list li{
    margin: 30px;
}

.cart-items{
    flex: 1;
}

.checkout-items{
    display: flex;
    justify-content: left;
    flex-wrap: wrap;
    flex-direction: row;
    width: 60%;
    font-size: x-large;
}

.checkout-items div{
    margin: 10px;
}
